<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
      <title>{% block title %}Witamy!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="/css/style.css">
        {% endblock %}
    </head>
    <body class="container" >

        {% block navbar %}
        {% include('./utilities/navbar.html.twig') %}
        {% endblock %}
        <div class=" bg-fuel text-white">
          {% block content %}
          {% endblock %}
        </div>
        {% block footer %}
          {% include('./utilities/footer.html.twig') %}
        {% endblock %}

        {% block javascripts %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
