<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
      <title>{% block title %}Witamy!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="/css/style.css">
        {% endblock %}
    </head>
    <body class="page page__bg-img" >
        {% block navbar %}
        {% include('./utilities/navbar.html.twig') %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block footer %}
          {% include('./utilities/footer.html.twig') %}
        {% endblock %}

        {% block javascripts %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
