/* Color variables */
$white: #ffffff;

/* Body */
$body-bg: #0039eecd;

/* Navbar Component */
$navbar-bg-dark: #3454e9ff;
$navbar-font-family: 'Arial';
$navbar-font-size: 1rem;
$navbar-text-color: $white;
//
$dropdown-bg-color: #3F55AA;
$dropdown-bg-hover-color: #707eb3;
$dropdown-border-color: #3387C6;
$dropdown-text-color: $white;


/* Article Component */
$article-header-color: $white;
$article-text-color: $white;
$article-header-divider-bg-color: $white;
$article-bg-color: #3F55AA;

/* Footer Component */
$footer-text-color: $white;
$footer-bg-color: #3454e9ff;

/* Button Component */
$sign-in-button-bg-color: #3A9CE8;
$sign-in-button-bg-hover-color: #3387C6;
$dropdown-border-color:  #3387C6;
$sign-in-button-text-color: $white;

/* Login Component */
$login-bg-color: #3F55AA;
$login-label-color: $white;

$login-form-divider-bg-color: $white;

/* Post Form Component */
$post-form-bg-color: #3F55AA;
$post-form-label-color: $white;
$post-form-divider-bg-color: $white;
