{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block content %}


  <section class="container articles page__articles ">
    <div class="row">
      <div class="col-md-12">
        {% for post in posts %}
            <article class="article ">
            <h1 class="article__header">{{ post.title }}</h1>
            <hr class="article__header-divider">
                <div class="article__text ">{{ post.content | raw }}</div>
                <p class="article__created-at">{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</p>
            </article>
        {% else %}
            No records found
        {% endfor %}

      </div>
    </div>
  </section>

    <a href="{{ path('post_new') }}">Create new</a>

{% endblock %}
