{% extends 'base.html.twig' %}

{% block title %}Aktualności{% endblock %}

{% block content %}
<div class="text-white page-full">

  <section class="main-articles container">
    <br>
    <h1 class="text-center text-white font-weight-bold">Aktualności</h1>
    <hr class="bg-white">
    <div class="row ">
    {% for post in posts %}

    <div class="col-md-4">
      <br>
      <div class="card bg-dark border-secondary">

        <div class="card-body">
          <h5 class="card-title text-center">{{ post.title | upper }}</h5>

          <img src="/uploads/{{ post.imageFilename }}" class="card-img-top" width="300px" height="300px">
          <br><br>
          <a href=" {{ url('post_show', {'id': post.id })}} " class="btn btn-block btn-outline-light font-weight-light">Szczegóły</a>


        </div>
      </div>
      </div>

        {% endfor %}

  </section>
  <br>


{% endblock %}
