{% extends 'base.html.twig' %}

{% block title %}Kreator postów{% endblock %}

{% block content %}
<div class="page__post-form post-form">
<div class="container ">
<div class="row">
  <div class="col-md-10">
  <br>
  <h1 class="">Create new Post</h1>
  <hr class="post-form__divider">

    {{ include('post/_form.html.twig') }}
    <br>
    <a href="{{ path('post_index') }}" class="btn btn-secondary">back to list</a>
  </div>
</div>
  </div>
</div>




{% endblock %}
{% block footer %}
{% endblock %}
