{% extends 'base.html.twig' %}

{% block title %}Szczegóły{% endblock %}

{% block content %}
  <div class="page-full container text-white">
    <br>
    <div class="row">

      <div class="col-md-12 ">
        <h1 class="text-white ">{{ post.title }}</h1>
        <hr class="bg-light">

          {{ post.content | raw }}

      </div>
    </div>

  </div>

  <!-- Edit button !-->
  {% if app.user %}
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 ">
          <br><br>
          <a href=" {{ url('post_edit', {'id': post.id })}} " class="btn btn-lg btn-secondary font-weight-light">Edytuj</a>
          <br><br>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

  {% endif %}

{% endblock %}
