
.article {
  @include set_colors($article-text-color, $article-bg-color);
  @include article-margin {
    opacity: 1;
    text-align: justify;
    padding: 1rem;
    }


  &__header {
    color: $article-header-color;
    &-divider {
      @include set_colors($article-text-color, $article-header-divider-bg-color);
        height: 1.5px;

    }
  }

  &__created-at {
    font-weight: bold;
  }
}
