
<footer class="bg-joust_blue align-bottom">
  <div class="container align-content-center text-center">
    <p >
      <br>

      <a class="text-white text-center" href="http://www.fala.ropczyce.info/Kontakt.php">| Kontakt |</a>
      <a class="text-white text-center" href="http://www.fala.ropczyce.info/Formularz.php">Formularz kontaktowy |</a>
      <a class="text-white text-center" href="http://www.fala.ropczyce.info/Linki.php">Linki |</a>

      <a class="text-white text-center" href="http://www.fala.ropczyce.info/galeria.php" >Galeria |</a>
      <a class="text-white text-center" href="http://www.fala.ropczyce.info/Komunikaty.php">Zawody |</a>
      <br>
      <br>
      <a class="text-white font-weight-bold">&copy; 2019 by Fala</a>
      <br>
      <br>
    </p>
  </div>
</footer>
