/* Body */
$body-bg: #0039eecd;

/* Navbar Component */
$navbar-bg-dark: #3454e9ff;
$navbar-font-family: 'Arial';
$navbar-font-size: 1rem;
$navbar-text-color: #ffffff;
//
$dropdown-bg-color: #3F55AA;
$dropdown-bg-hover-color: #707eb3;
$dropdown-border-color: #707eb3;
$dropdown-text-color: #ffffff;


/* Article Component */
$article-header-color: #ffffff;
$article-text-color: #ffffff;
$article-header-divider-bg-color: #ffffff;
$article-bg-color: #3F55AA;

/* Footer Component */
$footer-text-color: #ffffff;
$footer-bg-color: #3454e9ff;

/* Button Component */
$sign-in-button-bg-color: #3A9CE8;
$sign-in-button-bg-hover-color: #3387C6;
$dropdown-border-color:  #3387C6;
$sign-in-button-text-color: #ffffff;
